<launch>
    <group ns="robot_0">
        <node pkg="nodelet" type="nodelet" name="apptest_1" args="load micros_swarm_framework/AppTestBroker micros_swarm_framework_manager1" output="screen">
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="nodelet" type="nodelet" name="apptest_2" args="load micros_swarm_framework/AppTestBroker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="nodelet" type="nodelet" name="apptest_3" args="load micros_swarm_framework/AppTestBroker micros_swarm_framework_manager1" output="screen">
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="nodelet" type="nodelet" name="apptest_4" args="load micros_swarm_framework/AppTestBroker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>

</launch>
