<launch>
    <group ns="robot_0">
        <node pkg="nodelet" type="nodelet" name="app2_0" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager0" output="screen">
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="nodelet" type="nodelet" name="app2_1" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager1" output="screen">
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="nodelet" type="nodelet" name="app2_2" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="nodelet" type="nodelet" name="app2_3" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_4">
        <node pkg="nodelet" type="nodelet" name="app2_4" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_5">
        <node pkg="nodelet" type="nodelet" name="app2_5" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_6">
        <node pkg="nodelet" type="nodelet" name="app2_6" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_7">
        <node pkg="nodelet" type="nodelet" name="app2_7" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_8">
        <node pkg="nodelet" type="nodelet" name="app2_8" args="load micros_swarm_framework/App2Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>

</launch>
