<launch>
    <group ns="robot_0">
        <node pkg="nodelet" type="nodelet" name="app3_0" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager0" output="screen">
        </node>
    </group>
    <group ns="robot_1">
        <node pkg="nodelet" type="nodelet" name="app3_1" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager1" output="screen">
        </node>
    </group>
    <group ns="robot_2">
        <node pkg="nodelet" type="nodelet" name="app3_2" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_3">
        <node pkg="nodelet" type="nodelet" name="app3_3" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager3" output="screen">
        </node>
    </group>
    <group ns="robot_4">
        <node pkg="nodelet" type="nodelet" name="app3_4" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager2" output="screen">
        </node>
    </group>
    <group ns="robot_5">
        <node pkg="nodelet" type="nodelet" name="app3_5" args="load micros_swarm_framework/App3Broker micros_swarm_framework_manager3" output="screen">
        </node>
    </group>
</launch>
